


<div class="face-snap-card" [ngClass]="{ snapped: userHasSnapped }">
<h2>{{ faceSnap.title | titlecase }}</h2>

  <!--affichier un element selon une condition avec @if -->
  @if (faceSnap.location) {
    <p>Localisation : {{ faceSnap.location }}</p>
} @else {
  <p>Aucune localisation </p>
}

  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p>FaceSnap créée le {{ faceSnap.createdAt }}</p>
  <p>
    <button (click)="onSnap()">{{ snapButtonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">🤌 {{ faceSnap.snaps }}</span>
  </p>
</div>
