.landing-block {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-links {
  width: 100%;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  height: auto;
}

button {
  display: block;
  margin: 20px auto;
  border: 2px solid rgb(101, 183, 235);
  border-radius: 5px;
}
button:hover {
  background-color: rgb(101, 183, 235);
  color: white;
}


